@inherits LayoutComponentBase
@using ResponsiBoss.BlazorServerApp.Pages

<AuthorizeView>
    <Authorized>
        <MudThemeProvider IsDarkMode="true" />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <MudLayout>
            <MudAppBar Color="Color.Primary">
                <h3>ResponsiBoss</h3>
            </MudAppBar>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </Authorized>
    <NotAuthorized>
        <LoginRedirect />
    </NotAuthorized>
</AuthorizeView>